body{
  background-image: url(img/bg2.jpg);
  font-family: Arial,Helvetica,sans-serif;
  height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
  background-repeat: no-repeat;
}
h1,h3,h5,h6{
  text-transform: capitalize;
}
h2{
  margin-top: 5px;
  margin-bottom: -5px;
  font-family: Freestyle Script;
  color: #00CC00;
  font-size: 48pt;
  text-shadow: 2px 2px black;
}
h4{
  text-align: left;
}
a{
  text-decoration: none;
}
.d-block
{
  display: block!important;
}
.d-sticky
{
  position: sticky;
  z-index: 1026;
  top: 0;
}
li{
  list-style: none;
}

*{
  box-sizing: border-box;
}
.navbar
{
  display: flex;
  background-color: #4e6f2e;
  justify-content:space-between ;
  padding-left: 40px;
  padding-right: 40px;
}
.img-nav
{
  width: 80px;
  height: 80px;
}
.logo
{
  color: #10bf22;
  display: flex;
}
.nav-kanan
{
  display: flex;
  flex-direction: row;
}
.search
{
  margin-right: 15px;
  margin-top: 19px;
}
.input
{
  display: flex;
}
.searchinput
{
  padding: 7px;
  display: inline-block;
  border: none;
  width: 250px;
  text-align: center;
}
.buttonsearch
{
 display: inline-block;
 background-color: #ffffff;
 border: none;
 cursor: pointer;
}
.exit
{
  margin-top: 5px;
}
.content
{
  padding: 40px 60px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.kiri
{
  width: 20%;
}
.list
{
  margin: auto;
  padding: 0;
  text-align: center;
}
.buttonlist
{
  margin-top: 5px;
  margin-bottom: 5px;;
  width: 100%;
  padding: 20px;
  border:none;
  background-color: #4e6f2e;
  cursor: pointer;
  color: white;
}
.buttonlist:hover
{
  background-color: #11be18;
}
.kanan
{
  width: 80%;
}
.bgcontent
{
  display: flex;
  background-color: rgba(78, 111, 46, 0.72);
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}
.imgcontent
{
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  width: 198px;
  margin: 10px;
  min-width: 0;
}
.bgcontent1
{ 
  color: white;
  display: flex;
  position: center;
  background-color: black;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
}
.imgcontent1
{
  padding: 10px;
  width: 198px;
  margin: 10px;
}
.footer
{
  text-align: center;
  background-color: #4e6f2e;
  padding: 30px;
  font-style: italic;
}
.imgc{
  width: 100%;
  text-align: center;
}
.imgctn
{
  width: 100%;
  text-align: center;
}
.Bantuan,.Bantuan1,.Bantuan2,.Bantuan3{
  width: 90%;
  text-align: center;
  border-radius: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
}
input[type=text1]{
  width: 90%;
  border-bottom-width: 150px;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.Bantuan4{
  width: 15%;
  border-radius: 50px;
  margin-left: 80%;
  background-color: green;
  margin-bottom: 15px;
}
.logog{
  width: 20px;
}
.Ganti{
  margin-left: 88%;
  margin-bottom: 50px;
}
.bgcontent3{
  color: white;
  display: flex;
  position: center;
  background-color: white;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  flex-wrap: wrap;
  width: 122%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.lisa{
  width: 100px;
  border-radius: 50%;
  margin-left: 45%;
}
.fontakun{
  color: black;
  text-align: center;
  font-size: 20px;
}
.HAPUSAKUN{
  margin-left: 80%;
  background-color: red;
  border-radius: 50px;
}
.SIMPAN{
  margin-left: 5px;
  background-color: green;
  border-radius: 50px;
}
.isiJawaban,.isiJawaban2,.isiJawaban3,.isiJawaban4{
  padding: 20px;
  background-color: white;
  margin-bottom: 15px!important;
  border-radius: 5px;
  color: black;
  width: 90%;
  margin: auto;
  display: none;
}